<?xml version="1.0" encoding="utf-8"?>
<widget android-versionCode="1000100" id="com.example.xavtool" ios-CFBundleVersion="1.0.1" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>xavtool</name>
  <content src="index.html"/>
  <access origin="*"/>
</widget>